<header id="page-header">

    <section class="title">

        
        
        <h1>Website Protocol</h1>

        <b>
            <p>Welcome to Cyber Learner!</p>
            <p>You could find out how to protect yourself when using internet.</p>
            <p>Just try doing something exciting here.</p>
        </b>
        

    </section>

    <nav class="button">
        <b>
            <p>Would you like to know more about Cyber Security?</p>
        <a href="teamwork/#content">Learn more</a>
        </b>
    </nav>

</header>

<section id="content">
    <article id="intro">
        <h2>What is Website Protocol?</h2>
        <b>
            <p>
                A website protocol refers to the set of rules and conventions 
                that dictate how data is exchanged between a web server and a 
                client (usually a web browser). The most common website protocol 
                is HTTP (Hypertext Transfer Protocol) or its secure version, 
                HTTPS (Hypertext Transfer Protocol Secure).
            </p>
        </b>
    </article>
    <article id="details">
        <h2>Types and Functions of Protocols</h2>
        <h3>Transmission Control Protocol / Internet Protocol (TCP/IP):</h3>
        <b>
            <p> 
                TCP/IP is a standard that defines how to establish and maintain 
                a network conversation by which applications can exchange data. 
                TCP works with the Internet Protocol (IP), which defines how computers 
                send packets of data to each other.
            </p>
        </b>

        <b>
            <p>
                TCP/IP allows communication between a number of computers (called hosts) 
                connected on a network. Each network can be connected to another network 
                to communicate with hosts on that network. Although there are many types 
                of network technologies, many of which operate with packet-switching and 
                stream transport, TCP/IP offers one major advantage: hardware independence.
            </p>
        </b>

        <b>
            <p>
                Because Internet protocols define the unit of transmission and specify how 
                to send it, TCP/IP can hide the details of network hardware, allowing many 
                types of network technologies to connect and exchange information. Internet 
                addresses allow any machine on the network to communicate with any other 
                machine on the network. TCP/IP also provides standards for many of the 
                communications services that users need.
            </p>
        </b>

        <b>
            <p>
                TCP/IP provides facilities that make the computer system an Internet host, 
                which can attach to a network and communicate with other Internet hosts. 
                TCP/IP includes commands and facilities that allow you to:
            </p>
        </b>

        <b>
            <li>Transfer files between systems</li>
            <li>Log in to remote systems</li>
            <li>Run commands on remote systems</li>
            <li>Print files on remote systems</li>
            <li>Send electronic mail to remote users</li>
            <li>Converse interactively with remote users</li>
            <li>Manage a network</li>
        </b>
    </article>

    <article id="details">

        <h3>HyperText Transfer Protocol (HTTP):</h3>

        <b>
            <p>
                HTTP is an application layer protocol in the Internet protocol suite model 
                for distributed, collaborative, hypermedia information systems. Today, 
                the protocol remains one of the primary means of using the Internet.
            </p>
        </b>

        <h3>How does HTTP work?</h3>

        <b>
            <p>
                As a request-response protocol, HTTP gives users a way to interact with web 
                resources such as HTML files by transmitting hypertext messages between 
                clients and servers. HTTP clients generally use Transmission Control 
                Protocol (TCP) connections to communicate with servers.
            </p>
        </b>

        <b>
            <p>
                HTTP utilizes specific request methods in order to perform various tasks. 
                All HTTP servers use the GET and HEAD methods, but not all support the 
                rest of these request methods:
            </p>
        </b>

        <b>
            <li>GET requests a specific resource in its entirety</li>
            <li>HEAD requests a specific resource without the body content</li>
            <li>POST adds content, messages, or data to a new page under an existing web resource</li>
            <li>PUT directly modifies an existing web resource or creates a new URI if need be</li>
            <li>DELETE gets rid of a specified resource</li>
            <li>OPTIONS shows users which HTTP methods are available for a specific UR</li>
            <li>CONNECT converts the request connection to a transparent TCP/IP tunnel</li>
            <li>PATCH partially modifies a web resource</li>
        </b>

        <h3>HyperText Transfer Protocol Secure (HTTPS):</h3>

        <b>
            <p>
                HTTPS is a protocol that secures communication and data transfer between a 
                user's web browser and a website.
            </p>
        </b>
    </article>
</section>

