<header id="page-header">

    <section class="title">

        
        
        <h1>TeamWork For Student</h1>

        <b>
        <p>Welcome to Cyber Learner!</p>
        <p>You could find out how to protect yourself when using internet.</p>
        <p>Just try doing something exciting here.</p>
        </b>
        

    </section>

    <nav class="button">
        <b>
        <p>Would you like to know more about Cyber Security?</p>
        <a href="#">Learn more</a>
        </b>
    </nav>

</header>

