<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Cyber Learner</title>
		<link rel="stylesheet" href="home.component.css">
		<script src="#"></script>
	</head>
	<body class="page-home">
		
		<nav id="menu">
			
			<ul>
				<li class="categories">
					<a href="index.html">home</a>
				</li>
				<li>
					<a href="#">Phishing</a>
				</li>
				<li>
					<a href="#">About Password</a>
				</li>
				<li>
					<a href="#">Teamwork for Student</a>
				</li>
				<li>
					<a href="#">Games</a>
				</li>
				<li>
					<a href="#">Contact/Feedback</a>
				</li>
			</ul>

		</nav>

		<header id="page-header">

			<section class="title">

				
				
				<h1>Cyber Learner</h1>
	
				<p>Welcome to Cyber Learner!</p>
				<p>You could find out how to protect yourself when using internet.</p>
				<p>Just try doing something exciting here.</p>
				
				

			</section>

			<nav class="button">
				<p>Would you like to know more about Cyber Security?</p>
				<a href="#">Learn more</a>
			</nav>

		</header>

		

		<footer id="page-footer">
			<ul>
					<li>
						<a>Contact Us</a>
					</li>
					<li>
						<a>Privacy Policy</a>
					</li>
					<li>
						<a>Copyright</a>
					</li>
			</ul>
		</footer>

	</body>
</html>
