* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/* Page Header */

#page-header {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.5em;
	
	
	
}

#page-header .title {
	height: 600px;
	background-size: cover;
	
	
}



#page-header h1 {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 3em;
	line-height: 1em;
	padding: 0.1em 1em 0 1em;
	color: darkblue;
}

#page-header p {
	color: black;
}

#page-header .button {
	text-align: center;
	padding: 10% 0;
	background-color: #888;
	
	
}

#page-header .button a {
	display: inline-block;
	background-color: darkblue;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: inset rgba(0,0,255,0.5) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px;
}

#page-header .button a:hover {
	color: black;
	background-color: white;
	box-shadow: none;
}

#page-header .button p {
	color: white;
	font-size: 1.5em;
}

/* content */

.content {
	margin-left: 15%;
	margin-right: 15%;
}

.content h2 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align:center;
	
}

#intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	float:left;
	width: 50%;
}

#intro article {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100px;
	padding-bottom: 1.5em;
	padding-top: 130px !important;
	
}

#intro article h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: left;
}

#intro article > p {
	margin-bottom: 1em;
	color: #777;
}

#intro2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#intro2 article {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto 100px;
	padding-bottom: 1.5em;
	padding-top: 130px !important;
}

#intro2 article h3 {
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: left;
}

#intro2 article > p {
	margin-bottom: 1em;
	color: #777;
}













@media only screen and (min-width: 900px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

	

	/* Page Header */

	#page-header {
		min-height: 80vh;
	}

	#page-header h1 {
		font-size: 4em;
	}

	/* Content */

	
	.content {
		padding: 3em;
	}

	
	
	

	

}