
		
		

		<header id="page-header">

			<section class="title">

				
				
				<h1>Cyber Learner</h1>
	
				<p>Welcome to Cyber Learner!</p>
				<p>You could find out how to protect yourself when using internet.</p>
				<p>Just try doing something exciting here.</p>
				
				

			</section>

			<nav class="button">
				<p>Would you like to know more about Cyber Security?</p>
				<a href="#">Learn more</a>
			</nav>

		</header>

		<div class="content">
			<h2>Introduction</h2>
			<section id="intro">
		

				<article class="phishing">
				<h3>Phishing</h3>
				
				<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
				
				</article>

				<article class="password">
				<h3>About Password</h3>
				
				<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
				
				</article>
			</section>

			<section id="intro2">
				<article class="teamwork">
				<h3>Teamwork</h3>
				
				<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
				
				</article>

				<article class="game">
				<h3>Games</h3>
				
				<p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
				
				</article>
			</section>
		</div>

		


