<header id="page-header">

    <section class="title">

        
        
        <h1>About Password</h1>

        <p>Welcome to Cyber Learner!</p>
        <p>You could find out how to protect yourself when using internet.</p>
        <p>Just try doing something exciting here.</p>
        
        

    </section>

    <nav class="button">
        <p>Would you like to know more about Cyber Security?</p>
        <a href="#">Learn more</a>
    </nav>

</header>

<div id="content">
    <article id="intro">

        <h2>What is Password</h2>

        <p>
            A Password is a word, phrase, or string of characters intended to differentiate an authorized 
            user or process (for the purpose of permitting access) from an unauthorized user, or put another 
            way, a password is used to prove one's identity or authorize access to a resource. It's strongly 
            implied that a password is secret. A password is usually paired with a username or other mechanism 
            to provide authentication.
        </p>

        <li>Do not include users' date of birth and name.</li>
        <li>upper and lower case, numbers, symbols such as &#60;, ?, !, etc.</li>
        <li>Password length of at least 12 characters.</li>
        <li>Passwords must be unique, complex and nonsensical.</li>
    </article>

    <article id="pwd_game">
        <h2>The Password Game</h2>
        <p>Please Choose a <b>Password</b>:</p>
        <input type="text" name="pwd"><br>
        <input type="submit" value="Check!">
    </article> 
</div>