/* You can add global styles to this file, and also import other style files */

/* Menu */

body {
	background-image:url('assets/images/background-img.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}

#menu {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	background-color: #888;
}

#menu ul {
	padding: 0.5em 0;
	text-align: center;
}

#menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

#menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 2em 1em;
	text-transform: uppercase;
	border-radius: 3px;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
}


#menu a:hover {
	background: #aaa;
}

#menu li.categories a {
	background: white;
	color: black;
	text-shadow: none;
}

#menu #logo img {
	width: 100px;
	
}

/* main */
#main {
	margin-left: 15%;
	margin-right: 15%;
	background-color: rgba(2, 2, 2, 0.8);
}

#main p {
	color: aliceblue;
}

#main h2 {
	color: aliceblue;
}

#main h3 {
	color: aliceblue;
}

#main li {
	color: aliceblue;
}


/* Page Header */

/*#page-header {
	background-color: rgba(255, 0, 0, 0.2);
}*/

/* Page Footer */



#page-footer {
	clear: both;
	padding: 1.5em;
	text-transform: uppercase;
	background-color: #888;
}

#page-footer li {
	list-style: none;
}

#page-footer a {
	color:aliceblue;
}

@media only screen and (min-width: 900px) {
    #menu ul {
        display: flex;
        justify-content: center;
        padding: 0;
        text-align: left;
    }

    #menu li {
        padding: 0.75em 0.5em;
    }

	/* Page Footer */

	#page-footer {
		padding: 1.5em 3em;
	}

	#page-footer ul {
		display: flex;
	}

	#page-footer li {
		padding: 0;
		padding-right: 1.5em;
	}
}