<header id="page-header">

  <section class="title">

      
      
      <h1>Contact/Feedback</h1>

      <b>
      <p>Welcome to Cyber Learner!</p>
      <p>You could find out how to protect yourself when using internet.</p>
      <p>Just try doing something exciting here.</p>
      </b>
      

  </section>
  
</header>
<div>
  <h1>Contact information for Cyber attack support</h1>
  <h3>This section will contain contact information for various phishing report pages/organisations</h3>
</div>

<section id="contact">
				
  <article class="details">
      <h3>Try to Report a Cyber Attack or Scam</h3>
      
      <b>
      <p>
        Dealing with a cyber attack or scam can be overwhelming, but you are not alone. 
        We have compiled a list of trustworthy resources in Brisbane, which can aid you 
        in reporting cyber attacks and recovering losses. If you are a child, you should
        notify your parents or guardian and have them help if you have fallen victim 
        to a cyber attack.
      </p>
      </b>
  </article>

  <article class="details">
    <h3>Scamwatch - Australian Competition and Consumer Commission (ACCC):</h3>
    
    <b>
    <p>Website: Scamwatch<br>
	    <a href="https://www.scamwatch.gov.au/report-a-scam">URL: https://www.scamwatch.gov.au/report-a-scam</a><br>
	    Description: Scamwatch is a national resource that provides information on various types of scams, how to report them, and tips to avoid falling victim to scams. The link above is for reporting a scam.
    </p>
    </b>
  </article>

  <article class="details">
    <h3>Australian Cyber Security Centre (ACSC):</h3>
    
    <b>
    <p>Website: ACSC<br>
	    <a href="https://www.cyber.gov.au/">URL: https://www.cyber.gov.au/</a><br>
	    Description: ACSC offers advice and support to people in Australia to enhance their cybersecurity awareness and respond to incidents related to cyber crime.
    </p>
    </b>
  </article>

  <article class="details">
    <h3>eSafety Commissioner:</h3>
    
    <b>
    <p>Website: eSafety Commissioner<br>
	    <a href="https://www.esafety.gov.au/">URL: https://www.esafety.gov.au/</a><br>
	    Description: The eSafety Commissioner focuses on online safety, including dealing with online abuse, cyberbullying, and other online safety concerns.
    </p>
    </b>
  </article>

  <article class="details">
    <h3>Community-Based Cybersecurity Support Groups:</h3>
    
    <b>
    <p>
      You may also have local cybersecurity groups, where you and your family can go to 
      receive help. A quick online search may help you find them.
    </p>
    </b>
  </article>


</section>