<header id="page-header">

    <section class="title">

        
        
        <h1>Activity</h1>

        <b>
        <p>Welcome to Cyber Learner!</p>
        <p>You could find out how to protect yourself when using internet.</p>
        <p>Just try doing something exciting here.</p>
        </b>
        

    </section>

    <nav class="button">
        <b>
        <p>Would you like to know more about Cyber Security?</p>
        <a href="games/#column">Learn more</a>
        </b>
    </nav>

</header>

<div class="main">
    <div class="team-work">
        <h2>Team Work For Students</h2>
        <article id="activity">
            <h3>Cybersecurity Case Studies:</h3>
            <b>
                <p>
                    Description: Present real-world cybersecurity incidents or 
                    breaches and have teams analyze them. Each team can focus on 
                    a different aspect like the attack vector, mitigation strategies, 
                    and lessons learned.
                </p>

                <p>
                    Benefits: Encourages critical thinking, research skills, 
                    and understanding of real-world security incidents.
                </p>
            </b>
        </article>
            
        <article id="activity">
            <h3>Security Awareness Campaigns:</h3>
            <b>
                <p>
                    Description: Have teams create and execute a security awareness 
                    campaign for their friends. This could include presentations, posters, 
                    and workshops on topics like password security, phishing awareness, 
                    and safe online behavior.
                </p>

                <p>
                    Benefits: Fosters communication skills, teamwork, and educates the 
                    wider school community about cybersecurity.
                </p>
            </b>
        </article>
    </div>

    <div class="content">
        <h2>Choose to play!</h2>
        <div id="row">
            <section id="column">
                <a href="#"><h2>Internet Scavenger Hunt</h2></a>
                <p>In the scavenger hunt you will get a set of random questions. Open a separate tab in your browser or use your own knowledge to fill in the answers.</p>
            </section>

            <section id="column">
                <a href="#"><h2>Multiple Choice Quiz</h2></a>
                <p>In the multiple choice quiz choose an answer from the given set for each question.</p>
            </section>

            <section id="column">
                <a href="#"><h2>Game</h2></a>
                <p>Decription of above game</p>
            </section>
        </div>
    </div>
</div>

