<header id="page-header">

    <section class="title">

        
        
        <h1>Games</h1>

        <p>Welcome to Cyber Learner!</p>
        <p>You could find out how to protect yourself when using internet.</p>
        <p>Just try doing something exciting here.</p>
        
        

    </section>

    <nav class="button">
        <p>Would you like to know more about Cyber Security?</p>
        <a href="#">Learn more</a>
    </nav>

</header>

<div class="content">
    <h2>Choose to play!</h2>
    <div id="row">
        <section id="column">
            <a href="#"><h2>Internet Scavenger Hunt</h2></a>
            <p>Decription of above game</p>
        </section>

        <section id="column">
            <a href="#"><h2>Multiple Choice Quiz</h2></a>
            <p>Decription of above game</p>
        </section>

        <section id="column">
            <a href="#"><h2>Game</h2></a>
            <p>Decription of above game</p>
        </section>
    </div>
</div>

