* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/* Page Header */

#page-header {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	background-size:contain;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.5em;
	background-image: url('../../assets/images/robort.png');
	
	
	
}

#page-header .title {
	height: 600px;
	background-size: cover;
	
	
}



#page-header h1 {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 3em;
	line-height: 1em;
	padding: 0.1em 1em 0 1em;
	color:aliceblue;
}

#page-header p {
	color:aliceblue;
}

#page-header .button {
	text-align: center;
	padding: 10% 0;
	color: rgba(224,224, 224, 0.2);
	
	
}

#page-header .button a {
	display: inline-block;
	background-color: darkblue;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: inset rgba(0,0,255,0.5) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px;
}

#page-header .button a:hover {
	color: black;
	background-color: white;
	box-shadow: none;
}

#page-header .button p {
	color:aliceblue;
	font-size: 1.5em;
}


/* Content */

.content {
	margin-top: 2em;
	margin-bottom: 1em;
}

.content h2 {
	text-align: center;
	margin-bottom: 1em;
}
#row {
	margin-left: 15%;
	margin-right: 15%;
	display: block;
	
}

#row h2 {
	border-style: ridge;
	border-color: aqua;
	border-width: 5px;
	padding: 10px;
	margin: auto;
}

#row p {
	border-style: ridge;
	border-color: rgb(226, 116, 177);
	border-width: 5px;
	padding: 10px;
	margin: auto;
}


#column {
	height: 300px;
	width: 33.3%;
	border-style: ridge;
	border-color: rgb(194, 241, 106);
	border-width: 5px;
	padding: 10px;
	margin: auto;
}



@media only screen and (min-width: 900px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

	

	/* Page Header */

	#page-header {
		min-height: 80vh;
	}

	#page-header h1 {
		font-size: 4em;
	}

	/* Content */

}

@media only screen and (min-width: 1600px) {
	/* Content */

	#row {
		display: flex;
	}
}