<header id="page-header">

    <section class="title">

        
        
        <h1>Phishing</h1>

        <p>Welcome to Cyber Learner!</p>
        <p>You could find out how to protect yourself when using internet.</p>
        <p>Just try doing something exciting here.</p>
        
        

    </section>

    <nav class="button">
        <p>Would you like to know more about Cyber Security?</p>
        <a href="#">Learn more</a>
    </nav>

    <section id="phishing">
				
        <article class="details">
            <h3>What is Phishing?</h3>
        
            <p>
                Phishing is a type of cybercrime in which one or more targets are contacted by email,
                phone, or text message by someone pretending to be a legitimate authority to lure individuals
                into providing sensitive data such as personally identifiable information,
                bank and credit card details, and passwords.

            </p>

        
        </article>

        <article class="emails">
            <h3>Common features of Phishing Emails</h3>
            
            <li>1. Reciprocity</li>
            <li>2. Commitment</li>
            <li>3. Social proof</li>
            <li>4. Liking</li>
            <li>5. Authority</li>
            <li>6. Scarity</li>
        
        </article>

        <article class="message">
            <h3>Common features of Phishing Message</h3>
            
            <li>1. Unknown / personal phone number</li>
            <li>2. Generic greetings</li>
            <li>3. Unusual URL</li>
            <li>4. Spelling and grammar errors</li>
            <li>5. Lack of contact information </li>
            <li>6. Request for sensitive information (credit card information)</li>
        
        </article>

        <article class="prevent">
            <h3>How to prevent Phishing attacks?</h3>

            <li>Do not trust any messages from unknown phone numbers</li>
            <li>Check URL before click in</li>
        </article>
    </section>

</header>

<section id="video">
    <h2>video for explaining what is Phishing</h2>
    <video controls>
        <source src="assets/videos/phishing_explained.mp4" type="video/mp4">
    </video>
</section>

<section id="video">
    <h2>What is Phishing Email?</h2>
    <video controls>
        <source src="assets/videos/spot_phishing_emails.mp4" type="video/mp4">
    </video>
</section>