* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background: white;
	color: black;
}

/* Menu */

#menu {
	background-color: #888;
}

#menu ul {
	padding: 0.5em 0;
	text-align: center;
}

#menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

#menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.25em 1em;
	text-transform: uppercase;
	border-radius: 3px;
	text-shadow: rgba(0,0,0,0.5) 0 1px 0;
}

#menu a:hover {
	background: #aaa;
}

#menu li.categories a {
	background: white;
	color: black;
	text-shadow: none;
}


/* Page Header */

#page-header {
	background-size: cover;
	background-position: center center;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.5em;
	
	
	
}

#page-header .title {
	height: 1300px;
	background-size: cover;
	
	
}



#page-header h1 {
	font-weight: 300;
	font-size: 3em;
	line-height: 1em;
	padding: 0.1em 1em 0 1em;
	color: darkblue;
}

#page-header p {
	color: black;
}

#page-header .button {
	text-align: center;
	padding: 10% 0;
	background-color: black;
	
	
}

#page-header .button a {
	display: inline-block;
	background-color: darkblue;
	color: white;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 10px;
	box-shadow: inset rgba(0,0,255,0.5) 0 2px 1px, inset rgba(0,0,0,0.3) 0 -2px 1px;
}

#page-header .button a:hover {
	color: black;
	background-color: white;
	box-shadow: none;
}

#page-header .button p {
	color: white;
	font-size: 1.5em;
}





/* Page Footer */

#page-footer {
	padding: 1.5em;
	text-transform: uppercase;
}

#page-footer li {
	list-style: none;
}

#page-footer a {
	color: #999;
}

@media only screen and (min-width: 900px) {

	body {
		font-size: 16px;
		line-height: 1.5em;
	}

	/* Menu */

	#menu ul {
		display: flex;
		justify-content: center;
		padding: 0;
		text-align: left;
	}

	#menu li {
		padding: 0.75em 0.5em;
	}

	/* Page Header */

	#page-header {
		min-height: 80vh;
	}

	#page-header h1 {
		font-size: 4em;
	}

	/* Main Content */

	#main-content,
	#rooms,
	#bikes {
		padding: 3em;
	}

	
	
	/* main-content */
	
	#main-content article {
		width: 30%;
		padding: 2em 5em;
	}

	/* Page Footer */

	#page-footer {
		padding: 1.5em 3em;
	}

	#page-footer ul {
		display: flex;
	}

	#page-footer li {
		padding: 0;
		padding-right: 1.5em;
	}

}